@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
*{
  font-family: 'Inter', sans-serif; 
  background-color: #0D0D0E;
}

.custom-content p {
  font-size: 20px;
  line-height: 1.5;
  color: #FFFFFFD9;
  font-weight: 300;
  font-family: 'Inter', sans-serif; 
}

@media (max-width: 768px) {
  .custom-content p {
    font-size: 14px;
  }
}

.custom-content strong {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #FFFFFF;
  line-height: 150%;
  letter-spacing: 0%;
}

@media (max-width: 768px) {
  .custom-content strong {
    font-size: 14px;
  }
}